/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }

/* LAYOUT */
/*html { position: relative; background-color:#fff; }*/
.clear { clear: both; }
.clearer { clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; }
/* TYPE */
body { font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; background-color: transparent; color: #333; -webkit-font-smoothing: antialiased; }

a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
a.block { display: block; cursor: pointer; }
a.block span,
a.block em { color:#08c; cursor: pointer; }
a.block:hover { text-decoration: none; }
a.block:hover span,
a.block:hover em { color: #08c; text-decoration: underline; }
a.more, em.more, span.more { white-space: nowrap; padding-right: 10px; background: url(http://images.apple.com/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; cursor: pointer; zoom: 1; }
a.external, em.external, span.external { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 49%; cursor: pointer; zoom: 1; }
a[rel="external"] { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 49%; cursor: pointer; zoom: 1; }
em.more, span.more, em.external, span.external { color:#08c; font-style: normal; cursor: pointer; }
.nowrap { white-space:nowrap; }
strong, b { font-weight: bold; }
em, i, cite { font-style: italic; }
sup { padding-left: 1px; font-size: 10px !important; font-weight: normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; _position: static !important; }
sup, sup a { color:#666; }
sup a:hover { color:#08c; text-decoration:none; }
abbr { border: 0; }
.sosumi { font-size: 10px !important; line-height:1.5; color:#888; }
.sosumi_features { font-size: 10px !important; line-height:1.5; color:#888; }

h1,h2,h3,h4,h5,h6,strong { color:#000; }
h1,h2,h3,h4 { font-weight: bold; }
h2,h3,h4 { line-height: 18px; }
h1,h2 { margin-bottom: 18px; }
h1 { font-size: 24px; line-height: 36px; }
h2 { font-size: 16px; }
h3 { font-size: 1em; }
h4 { font-size: 10px; }
p { margin-bottom: 18px; }
p.intro { color: #888; font-size: 16px; line-height: 22px; font-weight: normal; }
.more { text-align: right; }

ul { list-style: none outside; }
ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
ul.square,
ul.circle { margin-left: 2em; margin-bottom: 18px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul ul.circle,
ul ul.square { margin-top: 4px; margin-bottom: 5px; }
ol.sosumi { margin-left: 0; padding-left: 2em; *padding-left: 2.2em; }

a.pdf { background: url(http://images.apple.com/global/elements/icons/globaliconpdf12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.html { background: url(http://images.apple.com/global/elements/icons/globaliconhtml12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.qt { background: url(http://images.apple.com/global/elements/icons/globaliconqt12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.ical { background: url(http://images.apple.com/global/elements/icons/globaliconical12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.dl { background: url(http://images.apple.com/global/elements/icons/globalicondl11x10.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.dmg { background: url(http://images.apple.com/global/elements/icons/globalicondmg12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.zip { background: url(http://images.apple.com/global/elements/icons/globaliconzip12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.keynote { background: url(http://images.apple.com/global/elements/icons/globaliconkeynote12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.audio { background: url(http://images.apple.com/global/elements/icons/globaliconaudio12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }












body {
    font-family: Helvetica, sans-serif;
    font: normal 14px/20px Arial, Verdana, sans-serif;     
    background: url('/public/images/bg.png') repeat-x;
    background-attachment:fixed;
    background-color: #87dcef;
    color: #555;    
    margin:auto;
    display:block;
}

/* MESSAGES */
.success {
    background-color: #44f044;
    opacity: 0.7;
    color: #228822;
    text-shadow: 0.1em 0.1em #66f266;
}

.notification {
    background-color: #f0f044;
    opacity: 0.7;
    text-shadow: 0.1em 0.1em #f2f266;
}

.error {
    background-color: #f04444;
    opacity: 0.7;
    color: #440000;
    text-shadow: 0.1em 0.1em #f27777;
}



#messages_console {
    padding: 20px;
    font-size: 13pt;
    position: fixed;
    top: 40px;
    z-index: 30000;

    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    width: 700px;
    left: 50%;
    margin-left: -350px;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    box-shadow: 0 0 90px rgba(0,0,0,0.6);

}



#logo {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -185px;
}


#char_1 {
    position: absolute;
    top: 50px;
    left: 200px;
}

#char_2 {
    position: absolute;
    top: 130px;
    left: 20px;
}

#char_3 {
    position: absolute;
    top: 250px;
    left: 180px;
}

#char_4 {
    position: absolute;
    top: 70px;
    right: 200px;
}

#char_5 {
    position: absolute;
    top: 130px;
    right: 20px;
}

#char_6 {
    position: absolute;
    top: 280px;
    right: 200px;
}

input[type=text] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    padding: 5px;
    width: 200px;
    height: 20px;
}

input[type=password] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    padding: 5px;
    width: 200px;
    height: 20px;
}

#content {
    width: 940px;
    padding: 20px;
    text-shadow: 0.1px 0.1em #fff;
    /*
    background-color: #f0f0f0;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    box-shadow: 0 0 90px rgba(0,0,0,0.6);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
*/
    position: absolute;
    top: 433px;
}

.shadow {
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    box-shadow: 0 0 90px rgba(0,0,0,0.6);
}

#footer {

}

#search_box {
    float: right;
}

#search_text {
    position: absolute;
    right: 0px;
    font-size: 10pt;
    background: url('/public/images/search.png');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: text-top;
    background-color: white;
    padding-left: 30px;

    height: 18px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}




#master_container {
    position: relative;
    width: 980px;
    margin: 0px auto;
}

#header {
    position: relative;
}



#top_bar {
    position: fixed;
    top: 0px;
    z-index: 100000;
    width: 100%;
    -moz-box-shadow:0 0 15px 15px #000;
    -webkit-box-shadow: 0 0 15px #000;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    /*background-color: #228899;*/
    background-color: #555555;
    padding: 5px 0px 6px 0px;
    height: 30px;
    background: url('/public/images/menu_bg.png');
}

#top_bar_content {
    width: 980px;
    margin: 0 auto;
    position:relative;
}

.menu_item{
}

.menu_item a{
    position: relative;
    top: -4px;

    float: left;
    padding: 10px 15px 10px 15px;

    color: #d0d0d0;

    font-weight: bold;
    font-size: 11pt;

    text-shadow: 0 -1px 0 rgba(0, 0, 0, .75);
    text-decoration: none;

    letter-spacing: -1px;
}

.menu_item a:hover {
    position: relative;
    color: #ffffff;
}


#login_box {
    z-index: 10000;
    position: absolute;
    top: 200px;
    left: 50%;

    height: 400px;
    width: 300px;
    margin-left: -150px;

    background-color: #f0f0f0;
}


.round {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#activities {
    float: left;
    padding: 20px;
    width: 600px;
    background-color: #f0f0f0;
    margin-right: 10px;
}

#recent_activities {
    height: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #d0d0d0;
}

#activity_details {
    position: relative;
    float: left;
    width: 530px;
}

.nolink {
    text-decoration: none;
    border: none;
}

#activity_date {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    font-size: 7pt;
    text-align: right;
    color: #ff4400;
}

#topservices {
    padding: 20px;
    float:right;
    width: 230px;
    background-color: #f0f0f0;
    margin-top: 35px;
}

#topusers {
    padding: 20px;
    float:right;
    width: 230px;
    background-color: #f0f0f0;
    position: relative;
}

.top_user {
    position: relative;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#top_user_photo {
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.top_user_rating {
    font-size: 28pt;
    position: absolute;
    top: 3px;
    right: 0px;
    letter-spacing: -1px;
    color: #aa3355;
    font-weight: bold;
}

.top_user_text {
    position: absolute;
    right: 0px;
    top:24px;
    font-size: 9pt;
}

.top_user_name {
    position: absolute;
    left: 60px;
}

.top_service {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
    padding-right: 30px;
    min-height: 40px;
}

.top_service_name {
    width: 200px;
}

.top_service_view {
    font-size: 13pt;
    position: absolute;
    top: 3px;
    right: 0px;
    letter-spacing: -1px;
    color: #aa3355;
    font-weight: bold;
}

.top_service_text {
    position: absolute;
    right: 0px;
    top:16px;
    font-size: 7pt;
}



.table_title {
    font-size: 17pt;
    letter-spacing: -2px;
    text-shadow: 0 2px 0 rgba(255, 255,255, 1);
}

#user_photo {
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


#crown {
    position: absolute;
    right: -41px;
    top: -54px;
}

