<!DOCTYPE html>

<html>

<head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html" charset="${_response_encoding}">

        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/dates.css'}">


        #{get 'moreStyles' /}

        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/sessvars.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/timerpicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>


        #{get 'moreScripts' /}

    </head>

    <body>

        #{topbanner /}

        <!-- Menu Bar-->
        <div id="menubar">

            <ul id="menubar-navigation">

                <li class="menuitem">
                    <a href="@{Application.index()}">Home</a>
                </li>

                <li class="menuitem">
                    <a href="@{Application.profile()}">Profile</a>
                </li>

                <li class="menuitem">
                    <a href="@{Services.post()}">Post New Service</a>
                </li>

                <li class="menuitem">
                    <a href="@{Services.list()}">List Services</a>
                </li>

            </ul>


            #{if user?.registration}

            #{logoutbar /}

            #{/if}
            #{else}

            #{loginbar /}

            #{/else}


        </div>


        <!-- Content -->
        <div id="content">

            #{doLayout /}

        </div>

        
        <!-- Footer -->
        #{footer /}                   

    </body>

</html>
