<!-- Top Banner -->
<div id="topbanner">

    <!-- Logo -->
    <div id="logo">

        #{a @Application.index()}

        <p id="plogo">Give2Get</p>

        #{/a}
    </div>

    <!-- Search -->
    <div id="search">
        <form action="search.jsp">
            <div class="search">
                <form action="POST" accept-charset="utf-8">
                    <input type="text" name="keyword" alt="Search" title="Search"/>
                    <input type="submit" value="Search"/>
                </form>
            </div>

        </form>
    </div>


</div>