<div id="footer">

    <ul id="menu-footer-navigation">

        <li id="menu-item-44"
            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-46">
            <a href="@{Application.about()}">About Us</a>
        </li>

        <li id="menu-it2em-46"
            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-46">
            <a href="@{Application.contact()}">Contact</a>
        </li>

        <li id="menu-item-24"
            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-46">
            <a href="/terms">Terms of Use</a>
        </li>


    </ul>

</div>
